@font-face {
    font-family: "Arabic";
    src: url("../fonts/GE_SS_Two_Medium.otf");
}
.font-normal {
    font-family: "Arial", sans-serif !important;
}
:root {
    --alt-font: 'Arabic', sans-serif;
    --primary-font: 'Arabic', sans-serif;
} 
body, 
.primary-font, 
.alt-font {
    font-family: "Arabic", sans-serif !important;
}
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "korolev-condensed", sans-serif !important;
}
header .navbar .navbar-nav .fa-angle-down.btn-dropdown {
    left: unset;
    right: 5px;
}
header .navbar .navbar-nav .menu-item-list .nav-link {
    padding-right: 20px;
    padding-left: 5px;
    width: 100%;
    text-align: right;
}
header .navbar .navbar-nav .menu-item-list .sub-dropdown-menu{
    padding-left: unset !important;
    padding-right: 1rem !important;
}
.scroll-progress{
    right: unset;
    left: 20px;
}
#hero-section *, 
#full-hero-2 *{
    text-align: right !important;
}
#hero-section .hero-tag, 
#hero-section .hero-tag-text, 
#full-hero-2 .hero-tag, 
#full-hero-2 .hero-tag-text {
    margin: 0 0 0 10px !important;
}
#hero-section .container .subtitle, 
#hero-section .container .btn-hero, 
#full-hero-2 .container .subtitle, 
#full-hero-2 .container .btn-hero {
    margin-left: auto !important;
    margin-right: 0 !important;
}
#hero-section .hero-h1 h2, 
#full-hero-2 .hero-h1 h2 {
    font-size: 55px;
}
#hero-section .hero-h1 h2, 
#full-hero .title h1, 
#full-hero-2 .hero-h1 h2 {
    padding-bottom: 2rem !important;
    line-height: 1.2;
}
#hero-section .hero-h1 p, 
#full-hero-2 .hero-h1 p {
    line-height: 1.3;
    letter-spacing: 0;
}
.fs-40 {
    font-size: 2rem;
}
.fs-19 {
    font-size: 17px;
}
h1, 
.h1 {
    font-size: 3rem;
}
.list-style-03 li {
    padding-left: 0;
    padding-right: 38px;
}
.list-style-03 li:before {
    left: unset;
    right: 0;
    font-family: 'Urbanist', sans-serif !important;
}
.list-unstyled.warranty-list{
    padding: 0;
}
.btn i {
    margin-left: unset;
    margin-right: 6px;
}
header .push-menu .close-menu{
    right: unset;
    left: 15px;
}
.show-menu .hamburger-menu-half .menu-item-list .menu-item{
    text-align: start;
}
.feature-box.feature-box-left-icon .feature-box-icon, 
.feature-box.feature-box-left-icon-middle .feature-box-icon{
    margin-right: unset;
    margin-left: 30px;
}
.feature-box.feature-box-left-icon, 
.feature-box.feature-box-left-icon-middle{
    text-align: right;
}
@media (max-width: 1199px) {
    .service-hero .service-h1 h1,
    .h2, 
    h2 {
        font-size: 2.5rem;
    }
    .service-list h3 {
        font-size: 2rem;
    }
    .sliding-box .sliding-box-item .sliding-box-content {
        right: 0 !important;
    }
    .sliding-box-style-03 .sliding-box-item {
        margin-bottom: 30px!important;
    }
    .review-style-06 .md-position-absolute {
        position: relative !important;
    }
    #full-hero .container .title h1, 
    #full-hero .container .title h2, 
    #full-hero .container .desc {
        text-align: right !important;
    }
}
.right-side-bar .blog-standard .entry-meta span i {
    margin-left: 7px;
    margin-right: 0;
}
.right-side-bar .blog-standard .blog-details h1,
.right-side-bar .blog-standard .blog-details h2,
.right-side-bar .blog-standard .blog-details h3,
.right-side-bar .blog-standard .blog-details h4,
.right-side-bar .blog-standard .blog-details h5,
.right-side-bar .blog-standard .blog-details h6,
.right-side-bar aside .fs-19 {
    letter-spacing: 0 !important;
}
.accordion .accordion-item .accordion-header .accordion-title{
    padding-left: 0 !important;
    padding-right: 30px !important;
}
.list-style-04 {
    padding-right: 16px;
    padding-left: 0;
}

/* mobile menu */
@media (min-width: 1026px) {
  .mobile-show {
    display: none !important;

  }
}
@media (max-width: 1025px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 980px) and (max-width: 1199.98px) {
  header.position-sticky .navbar-nav.sm-hide {
  column-gap: 0px !important;
}
}

.urbanist{
    font-family: 'Urbanist', sans-serif !important;
}
.number{
    font-family: 'Urbanist', sans-serif !important;
}
/* margin class */
.custom-margin {
  margin-left: 35px !important;
  margin-right: 0 !important;
}

@media (min-width: 768px) {
  .custom-margin {
    margin-right: 35px !important;
  }
}
.feather-edge {
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
}

 /* ===================================
    About Section hero 
====================================== */
.small-screen {
    height: 550px !important;
}
@media (max-width: 2500px) and (min-width: 1500px) {
  .small-screen {
    height: 620px !important;
  }
}
    .page-title-big-typography1 {
  position: relative;
  
  background: url('https://evsuae.com/.netlify/images?url=/img/Evs-new-team.jpg&w=1440')
              center bottom/cover no-repeat;
  height: auto;
  padding-top: 40%;
  padding-bottom: 2rem;
}

.page-title-big-typography1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
  z-index: 1;
}

.page-title-big-typography1 .container {
  position: relative;
  z-index: 2;
}

.page-title-big-typography1 img {
  display: none !important;
}

      .about-evs .cover-bg {
        overflow: visible !important;
        height: auto !important;
      }
      .about-evs .cover-bg img {
        width: 100% !important;
        height: auto !important;
        object-fit: contain !important;
      }
.page-title-big-typography1 {
  display: block;
}
.mobile-about {
  display: none;
}

@media (max-width: 990px) {
  .page-title-big-typography1 {
    display: none !important;
  }
  .mobile-about {
    display: block !important;
  }
}